<div class="navbar-action-group d-flex align-items-center gap-2">
  <button class="btn lang-toggle dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-globe2"></i>
    <span id="currentLanguageLabel">English</span>
  </button>
  <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end language-menu">
    <li><button class="dropdown-item language-option" data-lang="en">English</button></li>
    <li><button class="dropdown-item language-option" data-lang="fa">دری</button></li>
    <li><button class="dropdown-item language-option" data-lang="ps">پښتو</button></li>
  </ul>
</div>


